{% extends 'base.html' %}

{% block content %}
    <h1>{{ project.title }}</h1>
    <p>{{ project.description }}</p>

    <h2>Code</h2>
    <pre>{{ project.code }}</pre>

    <h2>Tasks</h2>
    <form method="post" action="{% url 'add_task' project.id %}">
        {% csrf_token %}
        <input type="text" name="description" placeholder="New task">
        <button type="submit">Add Task</button>
    </form>

    <ul>
        {% for task in project.task_set.all %}
            <li>
                <form method="post" action="{% url 'toggle_task' task.id %}">
                    {% csrf_token %}
                    <input type="checkbox"
                           onchange="this.form.submit()"
                           {% if task.is_completed %}checked{% endif %}>
                    {{ task.description }}
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
